/* src/components/LeadBanner/leadBanner.module.css */
.leadBanner {
  /* background: linear-gradient(to right, #6dd5ed, #2193b0); */
  color: white;
  padding: 4rem;
  text-align: center;
}

.leadBanner h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.leadBanner p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
