.hero {
  /* width: 100vw; */
  height: 88vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-content: flex-start; */
  align-items: center;
  /* justify-content: space-between; */
  /* width: 55%; */
  /* margin: auto; */
  gap: 1.5rem;
}
