.main {
}

/* Adjust gradient for medium-sized screens */
@media (max-width: 768px) {
  body {
    background: linear-gradient(
      90deg,
      rgba(65, 31, 81, 1) 20%,
      rgba(22, 12, 30, 1) 65%,
      rgba(18, 62, 99, 1) 150%
    );
  }
}

/* Adjust gradient for small screens */
@media (max-width: 480px) {
  body {
    background: linear-gradient(
      0deg,
      rgba(65, 31, 81, 1) 0%,
      rgba(22, 12, 30, 1) 50%,
      rgba(18, 62, 99, 1) 150%
    );
  }
}

main {
  /* border: 1px solid #fff; */
  padding: 0 8rem;
}

@media screen and (max-width: 600px) {
  main {
    padding: 0 2rem;
  }
}
