/* TestimonialCard.css */
.testimonialCard {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Image, name, and text */
  align-items: center;
  text-align: center;
  color: #fff; /* Adjust text color as needed */
  padding: 1rem;
  gap: 0.5rem;
}

.imageContainer {
  width: 100%; /* Set to control image size */
  padding-top: 100%; /* Aspect ratio 1:1 for the image container */
  position: relative;
}

.imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
