/* src/components/Header/header.module.css */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #333; */
  color: white;
  padding: 2rem 1rem;
}

/* img{} */

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navList {
  list-style: none;
  display: flex;
}

.navList li {
  font-size: 1rem;
  margin-left: 2rem;
  cursor: pointer;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  header img {
    max-width: 20%;
  }

  .header {
    display: flex;
    text-align: center;
    padding: 1rem 2rem;
  }

  .navList {
    display: flex;
  }

  .navList li {
    font-size: 0.7rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: 900;
  }
}
